@font-face {
    font-family: 'Inter-Regular';
    src: local('Inter-Regular'),
        url('../fonts/Inter-Regular.woff') format('woff');
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    min-width: 320px;
    font-family: 'font', sans-serif;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.builder__container {
    padding-top: 50px;
    padding-right: 35px;
    padding-left: 35px;
    max-width: 1700px;
    margin: 0 auto;
}

/* header */
.builder__header-list {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.builder__header-item {
    padding-bottom: 5px;
    font-family: 'Inter Light';
    font-weight: normal;
    font-size: 21px;
    line-height: normal;
    color: #b2b2b2;
    border-bottom: none;
    transition: border-bottom .3s ease-in-out, color .3s ease-in-out;
}

.builder__header-item:not(:last-child) {
    margin-right: 50px;
}

.builder__header-item--active {
    color: #333;
    border-bottom: 1px solid #333;
    transition: border-bottom .3s ease-in-out, color .3s ease-in-out;
}

/* sizes */
.builder__block {
    display: none;
    height: 700px;
    overflow-y: scroll;
}

.builder__block--active {
    display: block;
}

.sizes__list {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sizes__item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 45%;
}

.sizes__img {
    margin-bottom: 30px;
}

.sizes__wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.sizes__value,
.box__value {
    margin-right: 15px;
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-family: 'Inter Light';
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    color: #333;
    cursor: pointer;
}

.sizes__checkbox,
.box__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.sizes__checkbox+label::before,
.box__checkbox+label::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #b2b2b2;
    margin-right: 15px;
    position: relative;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid #b2b2b2;
}

.sizes__checkbox:checked+label::before,
.box__checkbox:checked+label::before {
    background-color: #333;
    background-image: url("../img/icon-galka.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sizes__options,
.box__options {
    margin-left: 50px;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.options--active {
    opacity: 1;
    visibility: visible;
}

.sizes__option,
.box__option {
    cursor: pointer;
}

.sizes__option input,
.box__options input {
    display: none;
}

.sizes__option label,
.box__options label {
	display: inline-block;
	cursor: pointer;
	padding: 10px 15px;
    background: #efefef;
    font-family: 'Inter Light';
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: #333;
    border-radius: 8px;padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
}

.sizes__options .sizes__option:nth-child(1),
.box__options .box__option:nth-child(1) {
    margin-right: 20px;
}
 
.sizes__option input:checked + label,
.box__option input:checked + label {
	outline: 2px solid #333;
}

.sizes__box {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #b2b2b2;
}

.sizes__box:not(:last-child) {
    margin-bottom: 20px;
}

.box__checkbox {
    position: relative;
    margin-right: 0;
}

.box__value {
    margin-right: 0;
}

/* buttons */
.builder__buttons {
    position: relative;
    margin-top: 20px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #333;
}

.builder__prev,
.builder__next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: #333;
    font-family: 'Inter Regular';
    font-weight: normal;
    font-size: 21px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    pointer-events: all;
    user-select: none;
    transition: background-color .3s ease-in-out;
}

.builder__prev:hover,
.builder__next:hover {
    text-decoration: none;
    background: #df8844;
    transition: background-color .3s ease-in-out;
}

.builder__next--default {
    background: #e3e3e3;
    pointer-events: none;
}

.builder__next img {
    width: 20px;
    margin: 0 0 0 10px !important;
}

.builder__prev--default {
    opacity: 0;
    visibility: hidden;
}

.builder__prev img {
    width: 20px;
    transform: rotate(180deg);
    margin: 0 10px 0 0 !important;
}

.sizes__count {
    display: flex;
    align-items: center;
    font-family: 'Inter Light';
    font-weight: normal;
    font-size: 21px;
    color: #333;
}

.sizes__count span {
    margin-left: 5px;
    padding: 2px 6px;
    border: 1px solid #b2b2b2;
}